{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Student</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>NSC</th>
                    <td>{{ student.NSC }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ student.Email }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_student_index') }}" class="btn btn-secondary my-3">Back to list</a>

        <a href="{{ path('app_student_edit', {'NSC': student.NSC}) }}" class="btn btn-primary my-3">Edit</a>

        {{ include('student/_delete_form.html.twig') }}
    </div>
{% endblock %}
